# Logs
.DS_Store
.cache
yarn-error.log

# Runtime data
*.pyc

# Compiled binary addons
dist/
/*.tgz

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# IDE configuration
.idea

# dotenv environment variables file
venv/

# ----- custom -----
__tests__/*
!__tests__/.gitkeep
__codes__/*
!__codes__/.gitkeep
**/password.js
public/
public.zip
